# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
*/__pycache__
*/*/__pycache__/
db.sqlite3
media/
staticfiles/

# PyCharm
.idea/

# VS Code
.vscode/

# MySQL
*.sql

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/

# Environment variables
.env
.env.*

# Coverage
.coverage
coverage.xml
*.cover
*.py,cover

# pytest
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Sphinx documentation
docs/_build/
build/
dist/
*.egg-info/
*.eggs/
*.egg
*.manifest

# Django Stuff
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
